<h2 class="subtitulo">Guarda tu gema</h2>
<form action='@Url.Action("PeliAgregada")' method="post">
  <ul> 
    <li>
      <label>Título:</label>
      <input class = "form-admin" type="text" id="titulo" name="titulo" maxlength="100"/>
    </li>
    <br>
    <li>
      <label>Año:</label>
      <input class="form-admin" type="number" name="anio" id="anio" min="1000" max="9999" />
    </li>
    <br>
    <li>
      <label>URL Poster:</label>
      <input class = "form-admin" name="foto" maxlength="500"/>
    </li>
    <br>
    <li>
      <label>Sinopsis:</label>
      <br>
      <textarea class = "form-admin" name="sinopsis" maxlength="500" colmax="50"></textarea>
    </li>
    <br>
  </ul>
  <button class = "btn btn-primary" type="submit">Guardar</button>
  <input type="hidden" name="idUsuario" value="@ViewBag.IdUsuario">
</form>
