<header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1 class="display-4">MOVIE GEMS</h1>
                    <p>Las verdaderas gemas del cine</p>
                </div>
                <div class="nav">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <div class = "form">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
        <button class="tablink" onclick="openPage('Home', this, 'red')">Vistos</button>
        <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Quiero ver</button>
        <div id="Vistos" class="tabcontent">
            <h3>Home</h3> @* VISTOS *@
            <p>Home is where the heart is..</p>
        </div>
        <div id="QuieroVer" class="tabcontent"> @*QUIERO VER*@
            <h3>News</h3>
            <p>Some news this fine day!</p>
        </div>
</header>