<header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1 class="display-4">MOVIE GEMS</h1>
                    <p>Las verdaderas gemas del cine</p>
                </div>
                <div class="nav">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <div class = "form">
                                <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
</header>
        <button class="tablink" onclick="openPage('Vistos', this, 'grey')">Vistos</button>
<button class="tablink" onclick="openPage('QuieroVer', this, 'grey')" id="defaultOpen">Quiero ver</button>

<div id="Vistos" class="tabcontent">
  <p>Home is where the heart is..</p>
</div>

<div id="QuieroVer" class="tabcontent">
    <div class="row">
        @foreach(Pelicula item in ViewBag.pelisPorVer)
        {
            <div class="col-3 col-md-3">
                <div class="card">
                    <button class = "cerrar" @*onclick="myFunction()" // ABRIR MODAL PARA BORRAR, tiene que pasarle el id de la peli y usuario*@> x </button>
                    <img src="@item.foto">
                    <h3 class="titulo-peli">@item.titulo</h3>
                    <div class="quieroVerCard">
                        <button class="btn btn-primary masInfo">Más info</button> @*onclick="MostrarInfo()" // ABRIR MODAL con id peli*@
                        <input type="checkbox" class="ui-checkbox"> @*onclick="myFunction()" // ver como mierda hacemos que esto funcione :b*@                        
                    </div>
                </div>
            </div>
        }
       </div>

</div>
<div class="modal fade" id="InfoSeries" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="titulo"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/img/gilmore.png">
                <div id="InfoModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

    

