@{
    ViewData["Title"] = "Home Page";
}

<header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1 class="display-4">MOVIE GEMS</h1>
                    <p>Las verdaderas gemas del cine</p>
                </div>
            </div>
        </nav>
</header>
<br>
<h2>Iniciar Sesión</h2>
<br>
<form  method="post" action='@Url.Action("PostInicioSesion")'>

    <input class="form-control" type="text" placeholder="Username" name="username" aria-label="default input example">
    <br>
    <input class="form-control" type="password" placeholder="Contraseña" name="contrasena" aria-label="default input example">
    <br>
    <button type="submit" class="btn btn-primary">Iniciar</button>
</form>
<br>
<h6>¿No tenés cuenta?</h6>
<form action='@Url.Action("Registrarse")'>
    <button>Registrate</button>
</form>