@font-face {
  font-family: notable;
  src: url(../fonts/notable.ttf);
}

@font-face {
  font-family: inter;
  src: url(../fonts/inter.ttc);
}

.carousel-inner img {
  width: 80%;
  height: 80%;
  margin-left: 10%;
  border: 0.2em solid var(--negro);
}

.guia
{
  color: var(--azul);
  margin-top: 3%;
  margin-left: 10%;
  font-family: inter;
}

.carousel-caption
{
  background-color: #0e111b73;
}

:root {
  --negro: #0E111B;
  --celeste: #8DCAF7;
  --azul: #1515ac;
  --turquesa: #6297bdd5;
  --amarillo: #fcdf3b;
}

.logo-index
{
  width: 1em !important;
  height: 1em !important;
  margin-bottom: 0.25em !important;
}

.index
{
  padding-top: 5em;
  font-size: 2em;
}

.error
{
  margin-top: 1em;
  color:red;
}

#slogan
{
  color:var(--azul);
}

h1{
  font-family: notable;
  font-size: 3em;
}

h2, h3, h4, h5, h6{
  font-family: inter;
}

h4{
  text-align: justify;
  margin-right: 5%;
}

#prompt-registrarse{
  text-align: center;
}

.centro{
  align-items: center;
}

html {
  font-size: 14px;
}

.spaces
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

#fecha {
  margin-right: auto;
  color: #6c757d;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.subtitulo
{
  font-family: inter;
  text-align: center;
  margin-bottom: 5%;
}

.btn-outline-success
{
  color: var(--azul);
  border-color: var(--azul);
  font-family: inter;
  margin-right: 1em;
}

.btn-outline-success:hover
{
  background-color: var(--azul);
  color: var(--celeste);
  border-color: var(--azul);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary
{
  background-color: var(--azul);
  border-color: var(--azul);
}

.btn-primary:hover{
  background-color: var(--celeste);
  border-color: var(--azul);
  color: var(--azul);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background-color: var(--celeste);
  font-family: inter;
}

.fs-5
{
  font-size: 2em !important;
  font-family: inter;
}


.header {
  color: var(--negro);
  text-align: center;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--celeste);
  text-align: center;
  padding: 25px 20px 34px;
}

.nav {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.btn_nav{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.logo-img {
  height: 50px;
  position: relative;
  top: -10px;
}


.form{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.opinion-content{
  display:flex;
  flex-direction:column;
  align-items: flex-start
}

.opinionTexto{
  font-family: inter;
}

* {box-sizing: border-box}

.form-admin
{
  border:none;
  border-radius: .25rem;
  padding: .375rem .75rem;
  width: 30em;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: inter;
}

.tablink {
  background-color: var(--celeste);
  color: black;
  float: left;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: var(--turquesa);
}


.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  padding: 100px 20px;
}

#Vistos{background-color: var(--turquesa); }
#QuieroVer{background-color: var(--turquesa);}

/*Check!!!*/

.ui-checkbox {
  --primary-color: var(--azul);
  --secondary-color: #fff;
  --primary-hover-color: var(--azul);
  /* checkbox */
  --checkbox-diameter: 35px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.5;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 45%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

/*CSS de la card*/

.card {
  display: flex;
  flex-direction: column;
  border: none;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.row::after {
    content: "";
    flex: auto;
}

.card .btn{
  width:40%;
  font-family: inter;
}

.titulo-peli {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-family: inter;
  color: var(--azul);
}

.masInfo{
  margin-right: auto;
  margin-left: 2.5%;
  margin-bottom: 1.5%;
} 

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.organizacion{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
} 

.contenidoCard{
  display: flex;
  margin-top: auto;
  align-items:center;
}

.col-3{
   flex: 0 0 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
}
 
.cardcontainer{
    overflow: hidden;
    padding-left: 5%;
  }
  
  .cerrar {
    border: none;
    align-self: flex-end;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
  }

  #cerrarSesion{
    align-self: flex-end;
  }
  
  .col-3 .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  /*MODAL*/

.modal-body{
  display:flex;
  flex-direction: row;
}

.modal-body img{
  width: 40%;
  margin-right: 5%;
}

.modal-dialog {
  max-width: 800px;
}

.calificacion
{
  margin-right: 50em;
}


/*Estrellitas*/
.rating {
  flex-direction: row-reverse;
  margin-bottom: auto;
}

.unchecked{
  color:#ccc!important;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 1.83em;
}

.rating input:checked ~ label,
.rating label:hover,
.rating #star, 
.rating label:hover ~ label {
  color: #fcdf3b;
  transition: color 0.3s;
}


/*Bookmark para agregar a quiero ver*/

.ui-bookmark {
  --icon-size: 24px;
  --icon-secondary-color: rgb(77, 77, 77);
  --icon-hover-color: rgb(97, 97, 97);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.ui-bookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}